*, *:before, *:after {
	-moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body{
	font-family: 100% sans-serif;
	font-weight: 300;
}

header {
	padding: 20px 0;
}

header a{
	padding: 0 20px;
	margin: 0;
  text-decoration: none;
}

header nav{
	display: flex;
	justify-content: flex-end;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}



footer p{
	padding: 100px 0;
	margin: 0;
}

footer {
  margin-bottom: 1em;
  color: #888;
	font-size: 1.15em;
}

.jumbotron {
	display: flex;
	align-items: center;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url('img/BikeShot.jpg');
	background-size: cover;
	background-position: 100% 10%;
	color: #ffffff;
	text-shadow: 0.25px 0.25px 0.25px #000000;
  height: 300px;
}

.jumbotron h2 {
 color: #ffffff;
 margin: 0 0 0.25rem;
 text-shadow: 0 0.125rem #000000;
 font-size: 3rem;
}

.jumbotron h3 {
  color: #ffffff;
  margin: 0 0 0.25rem;
  text-shadow: 0 0.125rem #000000;
  font-size: 1.75rem;
}
  
#greeting {
  padding: 150px 0 0 0;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .jumbotron {
    height: 550px;
  }
  
  .jumbotron h2 {
	  color: #ffffff;
	  text-shadow: 0 0.125rem #000000;
	  font-size: 6rem;
  }
  
  .jumbotron h3 {
    color: #ffffff;
    margin: 0 0 1.25rem;
	  font-size: 2.5rem;
  }  
  
  #greeting{
    padding: 0 0 150px 0;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotron {
    height: 750px;
  }
}

section .row img{
  margin: 0 0 30px;
}

a {
  text-decoration: none;
}

#home {
	font-size: 3em;
  text-decoration: none;
	color: Black;
}

/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}


.btn.btn-default {
  border-radius: 2px;
  border: 0px;
  margin: 6px;
	font-size: 1.15em;
}

.btn.btn-default:hover {
  background-color: White;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: black;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}
